<!DOCTYPE html>
<html>
	<head>
		<title>Travelert</title>
		<link type="text/css" rel="stylesheet" href="../static/style.css">
	</head>
	<body class="sky">
		<div class="borderbox">
		  <h1> Travelert </h1>
        </div>
        
        <div class="borderbox form">
            <div class="success">
                <h3> Alert Created Successfully! </h3>
            </div>
            <table id="result" class="center">
                {% for key, value in display_alert.items() %}
                   <tr>
                      <th> {{ key }} </th>
                      <td> {{ value }} </td>
                   </tr>
                {% endfor %}
            </table>
            <div class="message">
                <p> Please watch out for our email with the flight options that match your itenerary and budget! </p>
            </div>
        </div>
    </body>
</html>